body{
    overflow: hidden;
    margin: 0;
    background-color: beige;
}

#canvas2{
    position: absolute;
    z-index: 2;
}

#canvas1{
    position: absolute;
    z-index: 1;
}

#btn-turn-wheel #result{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    background-color: red;
    font-size: 50px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #ffffff;

}

/* #btn-turn-wheel{
    position: absolute;
    bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    width: 100px;
    padding: 10px;
    z-index: 3;
} */
