body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: beige;
  margin: 0;
}



#result.anim {
  animation: enlargeText 2s ease-in-out infinite;
}

@keyframes enlargeText {
  0% {
    font-size: 3rem;
  }
  50% {
    font-size: 4rem;
  }
  100% {
    font-size: 3rem;
  }
}

#wheelOfFortune {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#elements {
  position: absolute;
  width: 150px;
  height: 150px;
}

#cursor {
  position: absolute;
  left: 50%;
  top: -5px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 25px solid white;
}

#result {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: orange;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-weight: 700;
  font-size: 5rem;
  border: 5px solid white;
  cursor: pointer;
}
