body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: beige;
}

canvas {
  position: relative;
  z-index: 0;
}

#spin {
  position: relative;
  z-index: 1;
  padding: 5px;
  width: 200px;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
}

#result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrage parfait */
  background-color: orange;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-weight: 700;
  font-size: 5rem;
  border: 5px solid white;
}

#result.anim{
    animation: enlargeText 2s ease-in-out infinite;
}

@keyframes enlargeText {
  0% {
    font-size: 5rem;
  }
  50% {
    font-size: 7rem; /* Taille maximale */
  }
  100% {
    font-size: 5rem;
  }
}

#wheelOfFortune {
  display: flex;
  flex-direction: column;
}

#cursor {
  position: absolute;
  top: 0%; /* Le curseur est fixé au sommet */
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 25px solid white;
}

/* Mobile */
@media (max-width: 768px) {
  body {
    height: auto; /* Ajuste la hauteur pour les écrans mobiles */
    padding: 10px;
    height: 100vh;
  }

  #spin {
    width: 150px; /* Réduit la taille du bouton sur mobile */
    padding: 8px;
  }

  #result {
    width: 150px; /* Réduit la taille du résultat */
    height: 150px;
    font-size: 3rem; /* Réduit la taille du texte */
  }

  #result.anim {
    animation: enlargeText 2s ease-in-out infinite;
  }

  canvas {
    width: 100%; /* Assure que le canvas prend toute la largeur de l'écran */
    height: auto; /* Maintient les proportions */
  }

  #cursor {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white;
    top: 0%; /* Assure que le curseur reste en haut de la roue */
  }
}
